name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"   # daily
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          user: developerashkan
          template: classic

          base: header, activity, community
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
